.navbar-light {
    background:#D2691E;
    box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2, green, blue, alpha);
    height: 70px;
    font-size: 0.9rem;
    z-index: 1028 ;
  }
  
  .navbar-logo {
    margin-top: 10px;
    margin-right: 80px;
    margin-left: -80px;
    text-decoration: none;
    width: 150px;
    height: 40%;
    
  }
  .nav-right-side{
    margin-left: 350px;
  }
  .navbar .nav-left-side {
    flex: 40%;
    display: flex;
    justify-content: left;
    align-items: center;
    margin-left: 10%;
  }
  .thongbao{
    width: 25px;
    margin-left: 32px;
    display: block;
  }
  .tintuc{
    width: 25px;
    margin-left: 20px;
    display: block;
  }
  .navbar-search {
    max-width: 500px;
    background-color: white;
    height: 37px;
    flex: 2;
    border-radius: 15px;
    display: flex;
    align-items: center;
    position: relative;
  }
  
  .navbar-search-input {
    flex: 1;
    position: relative;
    border: none;
    margin-left: 20px;
    outline: none;
  }
  
  .navbar-search-btn {
    outline: none !important;
    position: relative;
    background-color: #D2691E;
    border: none;
    height: 23px;
    width: 40px;
    border-radius: 15px;
    margin-right: 4px;
  }
  
  .navbar-search-btn:hover {
    background-color: rgb(34, 143, 233);
    cursor: pointer;
  }
  
  .navbar-search-btn-icon {
    color: white;
  }
  
  
  .navbar-btn-account{
    outline: none !important;
    position: relative;
    font-size: 18px;
    background-color: #D2691E;
    color: black;
    height: 32px;
    margin-top: -20px;
    
    border-radius: 10px;
    font-weight: 700;
    border: none;
  }
  .navbar-btn {
    outline: none !important;
    position: relative;
    font-size: 18px;
    background-color: #D2691E;
    color: black;
    height: 32px;
    margin-top: -20px;
    margin-left: 50px;
    border-radius: 10px;
    font-weight: 700;
    border: none;
  }

  .avt{
      width: 45px;
      margin-top: 1px;
      border-radius: 50%;
      
  }
  .film{
      color: black;
      text-decoration: none;
      font-weight: 700;
      font-size: 18px;
      margin-left: 250px;
  }
 
  
 
  .category{
    color: black;
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
    margin-left: 50px;
  }
  .navbar-btn:hover {
    background-color: #D2691E;
    cursor: pointer;
  }
  
  .film-icon{
    width: 25px;
    display: block;
    margin-left: 10px;
  }
  
  
  
  .navbar-dropdown {
    height: 36px;
    width: 40px;
    border-radius: 20px;
    display: inline-block;
    vertical-align: middle;
  }
  
  .navbar-dropdown:hover {
    background-color: white;
    cursor: pointer;
  }
  .navbar a {
    color: black;
    text-decoration: none;
  }
  
  .navbar a:hover {
    color: black;
  }
  
  
  