.sidebar-container {
  width: 250px;
  font-size: 20px;
  .active {
    font-weight: bold;
  }
  a {
    &:hover {
      color: black;
    }
    text-decoration: none;
    color: rgb(248, 212, 7);
  }

  li {
    list-style: none;
    align-items: left;
    text-align: left;
  }
}
