div.history {
  color: rgb(248, 212, 7);
  padding: 0px 20px;
  width: 500px;
  display: flex;
  flex-direction: column;
  position: relative;
  div.his-detail {
    position: absolute;
    left: 430px;
    top: 0;
  }
  table {
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
  }
}
